@charset "utf-8";

/*============================================================
font
=============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*============================================================
common
=============================================================*/
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.04em;
}
a,
button {
  letter-spacing: 0.04em;
}
.scrollbar {
  overflow: overlay;
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgba(110, 70, 199, 0.7) 0%, rgba(159, 120, 248, 0.7) 100%);
  border-radius: 100px;
}
h1 {
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
}
h2 {
  font-size: 52px;
  font-weight: 900;
  font-style: italic;
  line-height: 120%;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  line-height: 120%;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  line-height: 120%;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
p {
  line-height: 150%;
}
.hidden {
  font-size: 0;
  text-indent: -9999;
}
.pc-hidden {
  display: none;
}
.mobile-hidden {
  display: block;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start !important;
}

.relative {
  position: relative;
}

/*============================================================
button
=============================================================*/
.btn_large {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 40px;
  gap: 40px;

  background-image: linear-gradient(to right, rgba(51, 153, 255, 0.7) 0%, rgba(255, 102, 255, 0.7) 51%, rgba(110, 70, 199, 0.7) 100%);
  background-size: 200% auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50px;

  font-weight: 700;
  font-size: 24px;

  transition: 0.5s;
}
.btn_large:hover {
  background-position: right center;
}
.btn_small {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 28px 12px 32px;
  gap: 10px;

  background: #6e46c7;
  border-radius: 8px;

  transition: all 0.5s ease;
}
.btn_small:hover {
  background: #9f78f8;
  transition: all 0.5s ease;
}
.line_btn_l {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px 16px 24px;
gap: 16px;
width: 100%;
border: 1px solid #fff;
border-radius: 12px;
}

.btn_top {
  position: fixed;
  z-index: 110;
  right: 18px;
  bottom: 90px;
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  color: #4341ce;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn_top i {
  position: relative;
  top: 2px;
  font-size: 30px;
}

/*============================================================
header
=============================================================*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 24px;
  /* gap: 1749px; */

  position: fixed;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}
header .logo {
  width: 167px;
  height: 40px;
}
header .logo img {
  width: 100%;
}

.ham {
  display: none;
  width: 40px;
  height: 40px;
}

/*============================================================
nav
=============================================================*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  height: 100%;
}
.nav_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.nav_item li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}
.nav_item a {
  display: inline-block;
  padding: 16px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  transition: color 0.2s ease;
  height: 100%;
}
.nav_item a:hover {
  color: #9f78f8;
  border-bottom: 2px solid #9f78f8;
  transition: color 0.2s ease;
}
.util {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  isolation: isolate;
}
.util .social {
  position: relative;
}
.util .social .social_group {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  background: #07071c;
  border-radius: 9px;
  position: absolute;
  top: 32px;
  left: -12px;
}
.util .social .social_group.active {
  display: flex;
}
.util .social .social_group li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  gap: 10px;
  color: #757a88;
  font-size: 14px;
  transition: all 0.5s ease;
}
.util .social .social_group li a .icon {
  fill: #757a88;
  transition: all 0.5s ease;
}
.util .social .social_group li a:hover {
  color: #fff;
  transition: all 0.5s ease;
}
.util .social .social_group li a:hover .icon {
  fill: #fff;
  transition: all 0.5s ease;
}
.util .language {
  position: relative;
  width: 45px;
  height: 24px;
  line-height: 24px;
}
.util .language .language_group {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  position: absolute;
  width: 54px;
  left: -12px;
  top: 32px;
  z-index: 300;
  background: #07071c;
  border-radius: 9px;
}
.util .language .language_group.active {
  display: flex;
}
.util .language .language_group li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 13px;
  gap: 10px;
}
.util .language .language_group li a {
  font-weight: 500;
  color: #757a88;
  transition: all 0.5s ease;
}
.util .language .language_group li a:hover,
.util .language .language_group li a.active {
  color: #fff;
  transition: all 0.5s ease;
}

/*============================================================
main
=============================================================*/
section {
  width: 100vw;
  height: 100vh;
  padding: 160px 0;
}
.section1 {
  background: url("../image/Section1.png") 50% 50% no-repeat;
  background-size: cover;
}
.section2 {
  background: url("../image/Section2.png") 50% 50% no-repeat;
  background-size: cover;
}
.section3 {
  background: url("../image/Section3.png") 50% 50% no-repeat;
  background-size: cover;
}
.section4 {
  background: url("../image/Section4.png") 50% 50% no-repeat;
  background-size: cover;
}
.section5 {
  background: url("../image/Section5.png") 50% 50% no-repeat;
  background-size: cover;
}
.section6 {
  background: url("../image/Section6.png") 50% 50% no-repeat;
  background-size: cover;
}
.section7 {
  background: url("../image/Section7.png") 50% 50% no-repeat;
  background-size: cover;
}
.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .text_box p {
  font-size: 24px;
  margin-top: 24px;
}

/* section1 */
.section1 {
  padding: 320px 0 160px;
}
.section1 .container {
  justify-content: space-between;
}
.section1 .text_box .btn_large {
  margin-top: 46px;
}
.section1 .count_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 24px 24px 32px;
  width: 100%;
  text-align: center;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #3399ff 0%, #ff66ff 100%);
  border-image-slice: 1;
}
.section1 .count_box .count_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  /* width: 100%; */
  height: 100%;
}
.section1 .count_box .count_item p {
  line-height: 120%;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
.section1 .count_box .count_item h2 {
  font-style: normal;
  background: linear-gradient(90deg, #3399ff 0%, #ff66ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* section2 */
.section2 .container {
  justify-content: center;
  align-items: flex-end;
}
.section2 .text_box {
  width: 50%;
}

/* section3 */
.section3 .container h2 {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.section3 .card_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 0;
  margin-top: 80px;
  width: 100%;
}
.section3 .card_group li.card_item {
  width: 400px;
  height: 309px;
  position: relative;
  width: 100%;
}
.section3 .card_group li.card_item.item1 {
  background: url("../image/box1.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item.item2 {
  background: url("../image/box2.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item.item3 {
  background: url("../image/box3.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item.item4 {
  background: url("../image/box4.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item.item5 {
  background: url("../image/box5.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item.item6 {
  background: url("../image/box6.png") no-repeat 0 0;
  background-size: contain;
}
.section3 .card_group li.card_item h4 {
  text-align: center;
  display: inline-block;
  width: calc(100% - 56px);
  position: absolute;
  left: 0;
  bottom: 18px;
}

/* section4 */
.section4 {
  display: none;
}

/* section5 */
.section5 {
  display: none;
}

/* section6 */
.section6 {
  display: none;
}

/* section7 */
.section7 .container {
  justify-content: center;
}
.section7 .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}
.section7 .box_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 36px 36px;
  gap: 24px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.section7 .box_item .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section7 .box_item h2 {
  font-size: 40px;
}
.section7 .box_item form {
  width: 100%;
  height: 48px;
  position: relative;
}
.section7 .box_item input {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 16px;
  color: #07071c;
  width: 100%;
  height: 48px;
}
.section7 .box_item input::placeholder {
  color: #757a88;
}
.section7 .box_item form button {
  position: absolute;
  height: 48px;
  padding: 0 32px;
  right: 0;
  bottom: 0;

  background-image: linear-gradient(to right, rgba(51, 153, 255, 1) -51%, rgba(255, 102, 255, 1) 51%, rgba(255, 102, 255, 1) 100%);
  background-size: 200% auto;
  border-radius: 0px 8px 8px 0px;

  font-size: 16px;

  transition: 0.5s;
}
.section7 .box_item form button:hover {
  background-position: right center;
}
.section7 .box_item.community_link {
  gap: 0;
  justify-content: space-between;
  height: 208px;
}
.section7 .box_item.community_link a {
  height: 48px;
}

/*============================================================
footer
=============================================================*/
footer {
  width: 100%;
  padding: 28px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #07071c;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px;
  gap: 64px;
}

.footer_nav_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 251px;
}
.footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.nav_item_1st {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.nav_item_2nd a {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 0 0 8px;
}
.footer_nav_wrap .social_group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_nav_wrap .social_group .social_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.copyright .footer_logo {
  width: 42px;
  height: 42px;
  background-image: url("../image/footer\ logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #07071c;
  background-blend-mode: luminosity;
}
.copyright p {
  font-size: 14px;
  color: #757a88;
}

/*============================================================
modal
=============================================================*/
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  background: url("../img/close.png") no-repeat 50% 50%;
  background-size: cover;
  cursor: pointer;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: calc(100vw - 36px);
  max-width: 580px;
  height: auto;
  max-height: calc(100vh - 40px);
  top: 50%;
  left: 50%;
  padding: 60px 40px 30px;
  border-radius: 10px;
  background: #fff;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-content {
  position: relative;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.show {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-footer {
  text-align: right;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.show,
.fade.in {
  opacity: 1;
}

/*============================================================
Media Query
=============================================================*/
/*
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (max-width: 1480px) {
  header .nav_item,
  .util .social {
    display: none;
  }
  .ham {
    display: block;
  }
  .mo-nav .modal-dialog {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background: #07071c;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    left: 0;
  }
  .mo-nav.show .modal-dialog {
    transform: translate(0, -50%);
  }
  .mo-nav .modal-content {
    height: 100%;
  }
  .mo-nav .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 16px 15px;
    position: fixed;
    top: 0;
    left: 0;
    background: #07071c;
    width: 100%;
  }
  .mo-nav .modal-close {
    background: none;
    width: 40px;
    height: 40px;
    position: initial;
  }
  .mo-nav .nav_item {
    flex-direction: column;
    align-items: flex-start;
  }
  .mo-nav .nav_item li,
  .mo-nav .nav_item li a {
    width: 100%;
  }
  .mo-nav .nav_item li a {
    padding: 16px 24px;
  }
  .mo-nav .nav_item li a:hover {
    border: 0;
  }
  .mo-nav .modal-body {
    padding-top: 80px;
  }
  .mo-nav .social_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
  }
  .flex-column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
  }
  .mo-nav .modal-footer {
    padding: 0 24px 24px;
    margin-top: 40px;
  }
}

@media (max-width: 1281px) {
  section {
    height: auto;
    padding: 64px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .container .text_box p {
    font-size: 20px;
  }
  .section1 {
    padding: 144px 64px 64px;
  }
  .section1 .container {
    gap: 80px;
  }
  .section3 .card_group li.card_item {
    height: 300px;
  }
  footer {
    padding: 40px 64px;
  }
}

@media (max-width: 1199px) {
  .section1 .count_box {
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 33.33%;
    gap: 40px 64px;
  }
  .section3 .card_group {
    grid-template-columns: repeat(2, 1fr);
  }
  .section7 .box {
    flex-direction: column;
  }
  .section7 .box_item.community_link {
    gap: 24px;
  }
  footer {
    padding: 28px 64px;
  }
  .footer_nav_wrap {
    flex-direction: column;
    gap: 64px;
  }
  .nav_item_1st {
    text-align: center;
  }
  .footer_nav_wrap .social_group {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .pc-hidden {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  .mo-nav .modal-dialog {
    width: 100vw;
    max-width: 100vw;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  section {
    padding: 40px 24px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .container .text_box p {
    font-size: 16px;
  }
  .section1 {
    padding: 144px 24px 64px;
  }
  .section1 .count_box .count_item h2 {
    font-size: 40px;
  }
  .section2 {
    height: 100vh;
  }
  .section2 .text_box {
    width: 60%;
  }
  .section3 .card_group {
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px 0;
  }
  .section7 .box_item {
    gap: 0;
  }
  .section7 .box_item h2 {
    font-size: 24px;
  }
  .section7 .box_item form {
    height: auto;
  }
  .section7 .box_item input,
  .section7 .box_item form button {
    position: inherit;
  }
  .section7 .box_item form button {
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
  }
  .section7 .box_item.community_link a {
    width: 100%;
    padding: 12px 12px 12px 18px;
    font-size: 14px;
    justify-content: center;
  }
  footer {
    padding: 40px 24px;
  }
  footer .container {
    padding: 0;
    gap: 40px;
  }
  .footer_nav {
    display: none;
  }
  .copyright {
    flex-direction: column;
  }
}

@media (max-width: 456px) {
  .section3 .card_group li.card_item {
    height: 292px;
  }
  .section3 .card_group li.card_item.item1,
  .section3 .card_group li.card_item.item2,
  .section3 .card_group li.card_item.item3,
  .section3 .card_group li.card_item.item4,
  .section3 .card_group li.card_item.item5,
  .section3 .card_group li.card_item.item6 {
background-size: contain;
background-position: 50% 50%;
  }
  @media (max-width: 414px) {
    header {
      padding: 0 8px 0 16px;
    }
    .util {
      gap: 16px;
    }
    .section3 .card_group li.card_item {
      height: 258px;
    }
    .section3 .card_group li.card_item h4 {
      font-size: 16px;
    }
  }
}
